body, html {
    height: 100%;
    margin: 0;
	font-family: sans-serif; 
}

.bg {
    /* The image used */
    background-image: url("1.jpg");

    /* Full height */
    height: 100%; 
	width:100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#centre{
text-align:center;
font-weight:bold;	
	
}



