<html>

<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>


<body class="bg">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Restaurant App</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	</ul>
  </div>
</nav>
<br><br><br>
<div class="container">

<div class = 'pane'>
<h1 id="centre">Restaurants</h1>

<div class="row">
<a style="text-decoration:none;"href="{{url_for('newRestaurant')}}" > <h3> Create a New Restaurant </h3> </a>
</div>


{% for restaurant in restaurants %}

<div class="row">
<div class="col-md-6 ">

<a style="text-decoration:none;color:black;font-weight:bold;" href = "{{url_for('showMenu', restaurant_id = restaurant.id)}}"><h2>{{restaurant.name}}</h2>

<a class="btn btn-info" role="button" href = "{{url_for('editRestaurant',restaurant_id = restaurant.id)}}">Edit</a>

<a class="btn btn-danger" role="button" href = "{{url_for('deleteRestaurant',restaurant_id = restaurant.id)}}">Delete</a>
</div>
</div>






{% endfor %}

</div>
</div>

</body>

</html>
